@font-face {
    font-family: 'Barlow Condensed';
    src: url('../fonts/BarlowCondensed-Regular.woff2') format('woff2'),
        url('../fonts/BarlowCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Bellefair';
    src: url('../fonts/Bellefair-Regular.woff2') format('woff2'),
        url('../fonts/Bellefair-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



