*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/home/background-home-desktop.jpg);
}
.sec-1{
    position: relative;
}
.header{
    width: 95%;
    height: 96px;
    position: fixed;
    right: 0;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation,.nav-ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navigation{
    width: 50%;
    background-color: #97979748;
    height: 100%;
}
.header-line{
    height: 1px;
    width: 45%;
    background-color: white;
    position: absolute;
    left: 10%;
}