*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/home/background-home-desktop.jpg);
}
.sec-1{
    position: relative;
}
.header{
    width: 95%;
    height: 96px;
    position: fixed;
    right: 0;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation,.nav-ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navigation{
    width: 50%;
    background-color: #979797e3;
    height: 100%;
}
.header-line{
    height: 1px;
    width: 45%;
    background-color: white;
    position: absolute;
    left: 10%;
}
.nav-a{
    color: #fff;
    margin-left: 20px;
    padding: 50% 0;
    font-size: 16px;
    font-family: 'Barlow Condensed';
}
.nav-a-active{
    border-bottom: 2px solid white;
}
.sec-2{
    position: relative;
    top: 40%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.home-leftbox{
    width: 400px;
}
.home-leftbox h4{
    font-size: 28px;
    color: #D0D6F9;
    font-family: 'Barlow Condensed';
}
.home-leftbox h1{
    font-family: 'Bellefair';
    color: #FFFFFF;
    font-size: 150px;
}
.home-leftbox p{
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Barlow Condersed';
}
.home-rightbox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #FFFFFF;
    font-size: 28px;
    font-family: 'Bellefair';
}